html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #F0F0F0;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Containers
-------------------------------------------------------------------------------- */

.container {
  margin-top: 135px;
  padding: 0px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
}

/* .homeHeader {
  text-align: center;
} */

.loginContainer {
  margin-top: 200px;
}

.regContainer {
  margin-top: 200px;
}

.addOrEditContainer {
  margin-top: 150px;
  padding: 0px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sizer {
  width: 300px;
  margin: auto;
}

.infoOrAboutContainer {
  margin-top: 200px;
  padding: 0px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------------------------------------------------------------
Filter Options Bar
-------------------------------------------------------------------------------- */

.filterBar {
  position: fixed;
  top: 165px;
  width: 100%;
  height: 40px;
  background-color: dimgray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.filterDropDown {
  background-color: #fcfcfc;
  margin-left: 10px;
  margin-right: 10px;
  /* width: 120px; */
  width: 50px;
  /* height: 40px; */
}

.filterText {
  margin: 4px;
  text-align: center;
  color: lightgray;
}

.filterCheckbox {
  margin-left: 15px;
}

/* --------------------------------------------------------------------------------
Inventory List on Home
-------------------------------------------------------------------------------- */

.invList {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 50px;
  width: 100%;
  /* width: 100%; */
}

.listItemContainer {
  background-color: #fcfcfc;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px;
  display: grid;
  grid-template-columns: 2;
  /* max-width: 500px; */
  /* min-width: 100%; */
  /* min-width: 500px; */
  /* min-width: fit-content; */
  min-height: 110px;
  margin: 15px 10px 15px 10px;
  padding-left: 15px;
  /* padding-top: 13px; */
}

.listItemContainer:hover {
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 1px;
}


.listingInfoContainer {
/* background-color: yellowgreen; */
grid-column-start: 1;
min-width: 200px;
padding-right: 15px;
margin-top: 12px;
/* height: 120px; */
}

.listingColorContainer {
/* background-color: greenyellow; */
grid-column-start: 2;
/* margin: auto; */
min-width: 92px;
display: flex;
align-items: center;
justify-content: flex-end
/* padding-right: 25px; */
/* min-width: fit-content; */
}

.listColorBlock {
  height: 80px;
  width: 80px;
  border: 2px solid black;
  margin-right: 10px;
}

.listHeart {
  margin-top: 3px;
  margin-bottom: 8px;
}

.regContainer{
  padding: 50px;
}

/* --------------------------------------------------------------------------------
Details Page
-------------------------------------------------------------------------------- */

.notesLabel {
  margin-bottom: 0px;
}

.notesText {
  margin-top: 3px;
}

/* --------------------------------------------------------------------------------
Color Picker
-------------------------------------------------------------------------------- */

.colorPickerContainer {
  /* background-color: #e01616; */
  display: grid;
  grid-template-rows: 70% 30%;
  width: 300px;
  height: 290px;
  margin: auto;
  padding-top: 20px;
}

.colorPicker {
  grid-row-start: 1;
  display: flex;
  justify-self: center;
}

.colorSelection {
  grid-row-start: 2;
  margin: auto;
  margin-bottom: 0px;
  /* margin-left: 20px; */
}

/* --------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #3baa74;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.registerForm {
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 7px;
  padding: 35px;
}

.addFaveAndTox {
  margin-right: 20px;
  margin-left: 20px;
}

.faveAndToxContainer {
  margin: 10px;
  display: flex;
  justify-content: center;
}